.main-header {
	margin: 3.714285714rem 0 8.357142857rem;

	.wrapper {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
	}
}

.site-title {
	display: inline-block;
	margin: 0;
	font: 0/0 a;

	img {
		width: 191px;
		height: 52px;
	}
}