/*! sanitize.css | CC0 Public Domain | github.com/jonathantneal/sanitize.css */
/*
 * Normalization
 */
:root {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%; }

audio:not([controls]) {
  display: none; }

details {
  display: block; }

input[type="number"] {
  width: auto; }

input[type="search"] {
  -webkit-appearance: textfield; }
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

main {
  display: block; }

summary {
  display: block; }

pre {
  overflow: auto; }

progress {
  display: inline-block; }

small {
  font-size: 75%; }

template {
  display: none; }

textarea {
  overflow: auto; }

[hidden] {
  display: none; }

[unselectable] {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

/*
 * Universal inheritance
 */
*,
::before,
::after {
  box-sizing: inherit; }

* {
  font-size: inherit;
  line-height: inherit; }

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit; }

/*
 * Opinionated defaults
 */
*,
::before,
::after {
  border-style: solid;
  border-width: 0; }

* {
  margin: 0;
  padding: 0; }

:root {
  box-sizing: border-box;
  cursor: default;
  font: 14px/1.28571 "Open Sans", Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility; }

html {
  background-color: #03080b; }

a {
  text-decoration: none; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

button,
input,
select,
textarea {
  background-color: transparent; }

button,
input,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit; }

button,
[type="button"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="reset"],
[type="search"],
[type="submit"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
  min-height: 1.28571em; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; }

nav ol,
nav ul {
  list-style: none; }

select {
  -moz-appearance: none;
  -webkit-appearance: none; }
  select::-ms-expand {
    display: none; }
  select::-ms-value {
    color: currentColor; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

textarea {
  resize: vertical; }

::-moz-selection {
  background-color: #B3D4FC;
  text-shadow: none; }

::selection {
  background-color: #B3D4FC;
  text-shadow: none; }

@media screen {
  [hidden~="screen"] {
    display: inherit; }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    clip: rect(0 0 0 0) !important;
    position: absolute !important; } }

body {
  background-color: #07141a;
  color: #fff;
  font-weight: 100; }

p {
  margin: 1.5em 0; }

a {
  color: #3ae8c9;
  text-decoration: underline;
  -webkit-transition: color 0.1s, background-color 0.2s;
          transition: color 0.1s, background-color 0.2s; }

h1,
.alpha {
  font-size: 46px; }

h2,
.beta {
  font-size: 32px; }

h3,
.gamma {
  font-size: 26px; }

h4,
.delta {
  font-size: 21px; }

h5,
.epsilon {
  font-size: 18px; }

h6,
.zeta {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.2em; }

h1, h2, h3, h4, h5, h6 {
  margin: 1em 0 0.56em;
  line-height: 1;
  font-style: italic; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none; }
  h1 + p,
  h1 + form,
  h1 + ul,
  h1 + ol, h2 + p,
  h2 + form,
  h2 + ul,
  h2 + ol, h3 + p,
  h3 + form,
  h3 + ul,
  h3 + ol, h4 + p,
  h4 + form,
  h4 + ul,
  h4 + ol, h5 + p,
  h5 + form,
  h5 + ul,
  h5 + ol, h6 + p,
  h6 + form,
  h6 + ul,
  h6 + ol {
    margin-top: 0; }
  h1 + img, h2 + img, h3 + img, h4 + img, h5 + img, h6 + img {
    margin-top: 1em; }

.left {
  float: left; }

.right {
  float: right; }

.center {
  margin-left: auto;
  margin-right: auto; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.cover {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  text-decoration: none; }

.nav li {
  display: inline; }
  .nav li a {
    display: inline-block; }

.hide-text {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap; }

.clearfix {
  *zoom: 1; }
  .clearfix:before,
  .clearfix:after {
    content: '';
    display: table; }
  .clearfix:after {
    clear: both; }

html,
body {
  height: 100%; }

body {
  width: 100%;
  overflow-x: hidden; }

img {
  max-width: 100%;
  height: auto; }

table {
  width: 100%; }

.read-more-link {
  font-size: .857142857rem;
  font-weight: bold;
  text-decoration: none; }

/* Off-Canvas Navigation */
.container {
  width: 100%;
  min-height: 100%;
  position: relative;
  padding: 0 2rem;
  -webkit-transition: margin-left 0.2s;
          transition: margin-left 0.2s; }
  .offcanvas .container {
    margin-left: -315px; }

.offcanvas-area {
  width: 315px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%; }

.section-latest-posts {
  margin-top: 6rem; }
  .single .section-latest-posts {
    padding-top: 2rem;
    border-top: 1px solid #0c222c; }

.wrapper {
  max-width: 1140px;
  margin: 0 auto; }

.grids {
  overflow: hidden;
  clear: both;
  margin-left: -2em; }
  .grids > * {
    width: 100%;
    float: left;
    margin-bottom: 2em;
    padding-left: 2em; }
    .grids > * *:first-child {
      margin-top: 0; }

.half-gutter {
  margin-left: -1em; }
  .half-gutter > * {
    padding-left: 1em; }

::-webkit-input-placeholder {
  color: #fff; }

:-moz-placeholder {
  color: #fff;
  opacity: 1; }

::-moz-placeholder {
  color: #fff;
  opacity: 1; }

:-ms-input-placeholder {
  color: #fff; }

label {
  display: block;
  margin-bottom: .5rem; }
  .gfield_radio label {
    display: inline-block;
    margin-left: 1rem; }

input,
textarea {
  width: 100%;
  margin-bottom: .62rem;
  padding: .75rem;
  background-color: #202c31;
  color: #fff;
  border-radius: .62rem;
  font-size: 1rem;
  font-weight: 500; }
  .gfield_radio input,
  .gfield_radio textarea {
    width: auto; }

input[type="submit"] {
  width: auto;
  padding: 0;
  background-color: transparent;
  color: #3ae8c9;
  border: none;
  border-radius: 0;
  text-decoration: underline; }

.gform_fields, .gform_fields ul {
  list-style: none; }

.comment-form-comment {
  margin-bottom: 0; }

.gform_footer,
.form-submit {
  margin-top: 0;
  text-align: right; }

.main-header {
  margin: 3.71429rem 0 8.35714rem; }
  .main-header .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.site-title {
  display: inline-block;
  margin: 0;
  font: 0/0 a; }
  .site-title img {
    width: 191px;
    height: 52px; }

.menu-main a {
  color: #fff;
  font-weight: bold;
  text-decoration: none; }

.header-navigation {
  padding: 1.5rem 1.28571rem; }
  .header-navigation .menu-item-title {
    font-size: 1rem;
    line-height: 1;
    font-weight: normal; }
  .header-navigation .menu a {
    display: block;
    margin-top: 1.2em;
    border-bottom: 2px solid #fe6a00;
    font-size: 1.428571429rem;
    text-transform: uppercase; }
  .header-navigation .menu li ul {
    margin-top: .77rem; }
    .header-navigation .menu li ul a {
      margin-top: .5rem;
      border-bottom: none;
      font-size: .857142857rem; }
  .header-navigation .menu-item-type-posts-item span {
    display: block; }
  .header-navigation .menu-item-type-posts-item a {
    text-transform: none; }

.header-navigation-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2.8rem;
  line-height: 0; }

.social-links a,
.social-links img {
  display: inline-block; }

.social-links a {
  opacity: .3;
  font: 0/0 a;
  -webkit-transition: opacity 0.1s;
          transition: opacity 0.1s; }
  .social-links a:hover {
    opacity: .5; }

.social-links img {
  width: 20px;
  height: 20px;
  margin-left: .5rem; }

.offcanvas-area {
  background-color: #03080b; }

.offcanvas-toggle,
.offcanvas-close {
  display: inline-block; }
  .offcanvas-toggle img,
  .offcanvas-close img {
    vertical-align: baseline; }

.offcanvas-toggle {
  padding-bottom: .5rem;
  color: #fff;
  font-size: 0;
  font-weight: bold;
  text-transform: uppercase; }
  @media (min-width: 481px) {
    .offcanvas-toggle {
      font-size: 1.5rem;
      line-height: 15px; } }

.entry-title {
  margin-top: 0; }
  .home main .entry-title {
    margin-top: -6px; }

.entry-meta {
  margin-bottom: 1rem;
  font-weight: 600; }
  .entry-meta span {
    font-weight: 100; }

.entry-thumbnail {
  margin-bottom: 1.857142857rem; }

.entry-content ul {
  margin-left: 1.5em; }

.comments-area {
  margin-top: 6rem; }

.comment-respond {
  margin-top: 3rem; }

.comment-list, .comment-list ol {
  list-style: none; }

.comment-list ol {
  padding: 2rem 0 2rem 2rem; }

.comment .avatar {
  display: block;
  float: left;
  vertical-align: top;
  margin: 0.2rem 0.75rem 0.5rem 0; }

.comment-metadata {
  display: block;
  font-size: .857142857rem;
  line-height: 2; }
  .comment-metadata a {
    color: inherit;
    text-decoration: none; }
  .comment-metadata .edit-link {
    margin-left: .75em;
    text-decoration: underline; }

.comment-content {
  overflow: hidden; }
  .comment-content p:first-child {
    margin-top: .5em; }

.event-details ul {
  list-style: none; }

@media (min-width: 1025px) {
  .single-entry .entry-header,
  .single-entry .entry-content,
  .single-entry .comments-area {
    width: 66.666%; }
  .single-entry .entry-header {
    float: left; }
  .single-entry .event-details,
  .single-entry .entry-thumbnail {
    width: 30%;
    float: right; } }

.upcoming-events ul {
  list-style: none; }

.upcoming-event,
.event-details {
  position: relative;
  margin-bottom: 1.642857143rem;
  padding: 0.8rem 0.71429rem;
  border: 1px dashed #fff; }
  .upcoming-event:nth-child(even),
  .event-details:nth-child(even) {
    background-color: #0a1c25; }

.upcoming-event-type {
  display: block;
  padding: 0 0 0.25em 0.35em;
  font-size: 1.285714286rem;
  line-height: 1;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase; }

.upcoming-event-date {
  width: 13.928571429rem;
  float: left;
  font-size: 4.285714286rem;
  line-height: 1;
  font-weight: 900; }
  .event-details .upcoming-event-date {
    display: block;
    float: none;
    margin-bottom: .5rem; }

.upcoming-event-description {
  display: block;
  display: -webkit-box;
  height: 59px;
  overflow: hidden;
  margin-bottom: 0;
  padding-top: 7px;
  text-overflow: ellipsis;
  font-weight: normal;
  max-lines: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; }

.section-instagram {
  position: relative;
  margin-bottom: 2em;
  padding: 1.642857143rem 0;
  border: 1px solid #0c222c;
  border-width: 1px 0; }
  .section-instagram .grids {
    margin-bottom: -2em; }
  .section-instagram .instagram-header,
  .section-instagram .tag-link {
    display: inline-block;
    position: absolute;
    background-color: #07141a; }
  .section-instagram .instagram-header {
    top: -1.7rem;
    left: 0;
    padding-right: 1em;
    font-size: inherit;
    line-height: inherit;
    font-weight: normal; }
  .section-instagram .tag-link {
    bottom: -.55rem;
    right: 0;
    padding-left: 1rem;
    color: #fff;
    font-style: italic;
    text-decoration: none; }

.section-event-categories {
  border-top: 1px solid #0c222c; }

.event-category {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8.2rem 0 9.1rem;
  border-bottom: 1px solid #0c222c; }

.event-category-name {
  margin-top: 0; }

.event-category-image {
  width: 30%;
  text-align: center; }
  .event-category-image img {
    width: 75.652174%;
    border-radius: 50%; }

.event-category-content {
  width: 66%; }

.section-partners {
  padding: 4rem 0 2rem;
  border-bottom: 1px solid #0c222c; }
  .section-partners h2 {
    margin-top: 0; }

.partner-list {
  list-style: none; }

.partner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 1rem; }
  .partner img,
  .partner span {
    display: inline-block;
    vertical-align: middle;
    margin: 0; }
  .partner > *:first-child {
    margin-right: .75rem; }

.partner-contribution {
  font-size: .857142857rem;
  font-weight: normal;
  font-style: italic; }

.section-contact {
  padding: 4rem 0 2rem; }
  .section-contact h2 {
    margin-top: 0; }

.alignnone {
  margin: 0.25em 1em 1em 0; }

.aligncenter {
  display: block;
  margin: 0.25em auto 0.25em auto; }

.alignleft {
  float: left;
  margin: 0.25em 1em 1em 0; }

.alignright {
  float: right;
  margin: 0.25em 0 1em 1em; }

.wp-caption {
  max-width: 96%;
  padding: 0.25 0.25em 0.75em;
  background: #fff;
  border: 1px solid #f0f0f0;
  text-align: center; }
  .wp-caption.alignnone {
    margin: 0.25em 1em 1em 0; }
  .wp-caption.alignleft {
    margin: 0.25em 1em 1em 0; }
  .wp-caption.alignright {
    margin: 0.25em 0 1em 1em; }
  .wp-caption img {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0 none; }
  .wp-caption p.wp-caption-text {
    margin: 0;
    padding: 0 0.25em 0.25em;
    font-size: 0.75em;
    line-height: 1em; }

@media (min-width: 481px) {
  .column-100 {
    width: 100%; }
  .column-80 {
    width: 80%; }
  .column-75 {
    width: 75%; }
  .column-70 {
    width: 70%; }
  .column-66 {
    width: 66.666%; }
  .column-60 {
    width: 60%; }
  .column-50 {
    width: 50%; }
  .column-40 {
    width: 40%; }
  .column-33 {
    width: 33.333%; }
  .column-30 {
    width: 30%; }
  .column-25 {
    width: 25%; }
  .column-20 {
    width: 20%; }
  .column-16 {
    width: 16.666%; }
  .column-show {
    display: block; }
  .column-hide {
    display: none; }
  .mobile-only {
    display: none; } }

@media (min-width: 769px) {
  .mq1-column-100 {
    width: 100%; }
  .mq1-column-80 {
    width: 80%; }
  .mq1-column-75 {
    width: 75%; }
  .mq1-column-70 {
    width: 70%; }
  .mq1-column-66 {
    width: 66.666%; }
  .mq1-column-60 {
    width: 60%; }
  .mq1-column-50 {
    width: 50%; }
  .mq1-column-40 {
    width: 40%; }
  .mq1-column-33 {
    width: 33.333%; }
  .mq1-column-30 {
    width: 30%; }
  .mq1-column-25 {
    width: 25%; }
  .mq1-column-20 {
    width: 20%; }
  .mq1-column-16 {
    width: 16.666%; }
  .mq1-column-show {
    display: block; }
  .mq1-column-hide {
    display: none; } }

@media (min-width: 1025px) {
  .mq2-column-100 {
    width: 100%; }
  .mq2-column-80 {
    width: 80%; }
  .mq2-column-75 {
    width: 75%; }
  .mq2-column-70 {
    width: 70%; }
  .mq2-column-66 {
    width: 66.666%; }
  .mq2-column-60 {
    width: 60%; }
  .mq2-column-50 {
    width: 50%; }
  .mq2-column-40 {
    width: 40%; }
  .mq2-column-33 {
    width: 33.333%; }
  .mq2-column-30 {
    width: 30%; }
  .mq2-column-25 {
    width: 25%; }
  .mq2-column-20 {
    width: 20%; }
  .mq2-column-16 {
    width: 16.666%; }
  .mq2-column-show {
    display: block; }
  .mq2-column-hide {
    display: none; } }

@media (min-width: 1200px) {
  .mq3-column-100 {
    width: 100%; }
  .mq3-column-80 {
    width: 80%; }
  .mq3-column-75 {
    width: 75%; }
  .mq3-column-70 {
    width: 70%; }
  .mq3-column-66 {
    width: 66.666%; }
  .mq3-column-60 {
    width: 60%; }
  .mq3-column-50 {
    width: 50%; }
  .mq3-column-40 {
    width: 40%; }
  .mq3-column-33 {
    width: 33.333%; }
  .mq3-column-30 {
    width: 30%; }
  .mq3-column-25 {
    width: 25%; }
  .mq3-column-20 {
    width: 20%; }
  .mq3-column-16 {
    width: 16.666%; }
  .mq3-column-show {
    display: block; }
  .mq3-column-hide {
    display: none; } }

/*# sourceMappingURL=main.css.map */